<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Editar Persona</h1>
      <%= render 'form', persona: @persona %>

      <%= link_to 'Detalle', @persona %> |
      <%= link_to 'Volver', personas_path %>
    </div>
  </div>
  
</div>

